body{
    margin: 0;
    background-color:#070707 ;
}

.menu-main{
    background-color: #51AAFF;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.menu-main input{
    background-color: #EAF5FF;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    min-width: 40px;
    width: 400px;
    height: 30px;
    border-color: #51AAFF;
}

.menu-main h3{
    margin: 0 10px;
    font-size: larger;
    font-weight: 800;
}

.menu-main button{
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-color: #EAF5FF;
    cursor: pointer;
    border-color: #51AAFF;
}

.menu-interactive{
    background-color: #0f0f0f;
    width: 180px;
    height: 100vh;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    padding-top: 30px;
    transition: width 0.8s ease, opacity 0.5s ease;
}


.menu-interactive li{
    list-style: none;
    color: #fff;
    text-align: left;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    padding-left: 40px;
}

.menu-interactive li:hover{
    background-color: #183551;
    transition: 1.5s ease   
}

.menu-interactive.hide{
    width: 0;
    opacity: 0;
    display: block;
}

